name: PM2 CD

on:
  push:
    branches: [ "main" ]

jobs:
  build:

    runs-on: self-hosted
    env:
       NODE_ENV: "production"
       APP_KEYS: ${{secrets.APP_KEYS}}
       API_TOKEN_SALT: ${{secrets.TOKEN_SALT}}
       ADMIN_JWT_SECRET: ${{secrets.ADMIN_JWT_SECRET}}
       JWT_SECRET: ${{secrets.JWT_SECRET}}
       DB_PATH: ${{secrets.DB_PATH}}
    steps:
      - uses: actions/checkout@v3
      - run: pnpm i
      - run: pm2 start ecosystem.config.js
